.header {
  background-color: white;
  padding-bottom: 1rem !important;
  padding: 0 4px;
}

.my-navbar {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  max-width: calc(100vw - 1rem);
}

.menu-items {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  text-decoration: none;
  font-size: 1rem;
  color: green;
  padding: 0.5rem 1rem;
  font-weight: 700;
}

.menu-item:hover,
.my-active {
  color: white !important;
  background-color: green !important;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.no-mb {
  display: none;
}

/* Pantallas iguales o mayores a 576px (pequeño - sm) */
/* Añade aquí los estilos para pantallas pequeñas */
@media (min-width: 576px) {
  .mb {
    display: none;
  }

  .no-mb {
    display: block;
    padding: 0 1.5rem;
  }
}

/* Pantallas iguales o mayores a 768px (mediano - md) */
/* Añade aquí los estilos para pantallas medianas */
@media (min-width: 768px) {
}

/* Pantallas iguales o mayores a 992px (grande - lg) */
/* Añade aquí los estilos para pantallas grandes */
@media (min-width: 992px) {
}

/* Pantallas iguales o mayores a 1200px (extra grande - xl) */
/* Añade aquí los estilos para pantallas extra grandes */
@media (min-width: 1200px) {
}
