/* LAYOUT */
.body {
  width: 100%;
  height: 100%;
}

.page-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.after-fixed {
  padding-top: 9.5rem;
}

/* HEADER */
.header {
  background-color: white;
  padding-bottom: 1rem !important;
}

/* NAVBAR */
.my-navbar {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
  align-items: center;
  max-width: calc(100vw - 1rem);
}

.menu-logo img {
  width: 100%;
  height: 3rem;
}

.menu-search {
  flex-grow: 1;
}

.menu-search img {
  width: 1rem;
  height: 1rem;
}

.menu-loggin button {
  display: flex;
  align-items: center;
}

.menu-loggin button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.menu-carrito button img {
  width: 1rem;
  height: 1rem;
}

/* MENU ITEMS */
.menu-items {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.menu-items .menu-item {
  text-decoration: none;
  font-size: 1rem;
  color: green;
  font-weight: 700;
}

/* CARROSEL */
.carrosel {
  border-radius: 2.5rem;
}

.carrosel img {
  max-height: calc(100vh / 1.5);
  border-radius: 2.5rem;
}

/* LOS MÁS VENDIDOS */
.los-mas-vendidos {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.los-mas-vendidos .title {
  font-size: 1.8rem;
  color: green;
  font-weight: 600;
}

.los-mas-vendidos-carousel .content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 2rem 7rem;
}

.los-mas-vendidos-carousel .content .card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.los-mas-vendidos-carousel .content .card img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.los-mas-vendidos-carousel .content .card p {
  margin: 10px 0;
}

.los-mas-vendidos-carousel .content .card button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.los-mas-vendidos-carousel .content .card:hover {
  transform: scale(1.15);
}

/* REGISTRATE YA */
.registrate-ya {
  display: flex;
}

.registrate-ya-left img {
  width: 100%;
}

.registrate-ya-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registrate-ya-right span {
  font-size: 1.8rem;
  color: green;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.registrate-ya-right p {
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.registrate-ya button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrate-ya-right button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

/* FOOTER */
.footer {
  background-image: url("./imagenes/footer/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
}

.footer .footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.footer .footer-middle {
  display: flex;
  justify-content: space-between;
}

.footer .footer-middle .footer-canales-de-atencion {
  display: flex;
  flex-direction: column;
}

.footer .footer-middle .footer-atencion-al-usuario {
  display: flex;
  flex-direction: column;
}

.footer .footer-middle .footer-libro-de-reclamaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .footer-middle .footer-libro-de-reclamaciones img {
  width: 4rem;
  height: 4rem;
}

.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer .footer-siguenos-en {
  display: flex;
  align-items: center;
}

.footer .footer-medios-de-pago {
  display: flex;
  align-items: center;
}

.footer-title-wrapper {
  display: flex;
}

.footer .footer-title {
  background-color: orange;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  width: auto;
  padding: 0 1.2rem;
}

.footer .footer-logo img {
  width: 100%;
  height: 4rem;
}

.footer .footer-icono {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-icono img,
.footer .footer-icono {
  width: 20px;
  height: 20px;
}

/* AUX */
.aux-padding {
  padding: 0 3rem;
}

.aux-margin {
  margin: 0 3rem;
}

.gap-top {
  margin-top: 4rem;
}

.gap-bottom {
  margin-bottom: 4rem;
}
.w-99 {
}

@media screen and (max-width: 1399.98px) {
}

@media screen and (max-width: 1199.98px) {
}

@media screen and (max-width: 1024.98px) {
}

@media screen and (max-width: 991.98px) {
}

@media screen and (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
}
