.after-fixed {
  padding-top: 9.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.force-button-height {
  height: 37.6px;
}

.flex {
  display: flex;
}

.gap-6 {
  gap: 6px;
}

.padding-top-8 {
  padding-top: 8px;
}

.padding-top-12 {
  padding-top: 12px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.my-gap-4 {
  gap: 4px;
}

.display-992 {
  display: none;
}

/* Pantallas iguales o mayores a 576px (pequeño - sm) */
/* Añade aquí los estilos para pantallas pequeñas */
@media (min-width: 576px) {
}

/* Pantallas iguales o mayores a 768px (mediano - md) */
/* Añade aquí los estilos para pantallas medianas */
@media (min-width: 768px) {
}

/* Pantallas iguales o mayores a 992px (grande - lg) */
/* Añade aquí los estilos para pantallas grandes */
@media (min-width: 992px) {
  .display-992 {
    display: block;
  }
}

/* Pantallas iguales o mayores a 1200px (extra grande - xl) */
/* Añade aquí los estilos para pantallas extra grandes */
@media (min-width: 1200px) {
}
